@import '../variables';
@import '../mixins';

.social-links {
  @include flex(row, flex-start, center, $spacing-md);
  margin: auto 0;
  &__item {
    color: $text-secondary;
    transition: color 0.2s ease;

    &:hover {
      color: $text-primary;
    }
  }
}